@model List<EducationDTO>
@{
    ViewData["Title"] = "GetList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Education List table</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Scholl Name</th>
                <th scope="col" class="sort" data-sort="status">Section</th>
                <th scope="col" class="sort" data-sort="status">Note Avarage</th>
                <th scope="col" class="sort" data-sort="status">Date</th>
                <th scope="col">Delete</th>
                <th scope="col" class="sort" data-sort="completion">Update</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td class="budget">
                        @item.SchollName
                    </td>
                    <td class="budget">
                        @item.Section
                    </td>
                    <td class="budget">
                        @item.NoteAvarage
                    </td>
                    <td class="budget">
                        @item.Date
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger "
                                onclick="DeleteEducations(@item.Id)">
                            Delete
                        </button>
                    </td>
                    @*<td><a href="/Skill/DeleteSkill/@item.Id" class="btn btn-warning"> <b>DELETE</b></a></td>*@
                    <td><a href="/Education/UpdateEducation/@item.Id" class="btn btn-warning"> <b>Update</b></a></td>

                </tr>
            }
        </tbody>
    </table>
    <a href="/Education/AddEducation/" class="btn btn-primary">New Add Education</a>
</div>


@section scripts{
    <script type="text/javascript" src="~/Deletejs/Person.js"></script>
}


